.i{
    display: flex;
    height: 100vh;
    background: rgb(29, 132, 222);
}

.i-left{
    flex: 2;
}
.i-right{
    flex: 1;
}
.i-left-wrapper{
    flex: 1;
}

.i-intro{
    font-size: 30px;
    font-weight: 300;
}